{% extends 'base.html' %}

{% block title %}Add Faculty Member{% endblock %}
{% block header %}Add Faculty Member{% endblock %}

{% block content %}
<form method="POST" action="{{ url_for('faculty.create_member') }}" enctype="multipart/form-data" class="col-lg-6 col-sm-12">
  <div class="mb-3">
    <label for="name">Name*</label>
    <input name="name" type="text" class="form-control" id="name" placeholder="Anteater Smit" value="{{ request.form['name'] }}" required>
  </div>
  <div class="mb-3">
    <label for="ucinetid">UCI NetID*</label>
    <input name="ucinetid" type="text" class="form-control" id="ucinetid" placeholder="anteater1" value="{{ request.form['ucinetid'] }}" required>
  </div>
  <div class="mb-3">
    <label for="email">Email address*</label>
    <input name="email" type="email" class="form-control" id="email" placeholder="anteater1@uci.edu" value="{{ request.form['email'] }}" required>
  </div>
  <div>
    <div class="mb-3 d-flex">
      <label class="align-self-center" for="role" style="width: 160px;">Faculty Role*&nbsp;</label>
      <select class="form-select align-self-center" id="role" aria-label="Faculty Role" name="role" required onchange="handleRoleSelection(this)">
        <option value="">None</option>
        {% for option, point in role_options.items() %}
        <option value="{{ option }}" data-point="{{ point }}" id="user_role_option">{{ option }}</option>
        {% endfor %}
      </select>
    </div>
    <ul>
      <li>Initial Balance: 0</li>
      <li>Required Credit Due: <span id="user_role_credit_due"></span></li>
    </ul>
  </div>
  <button type="button" class="btn btn-secondary">
    <a href="{{ url_for('faculty.members') }}" style="text-decoration: none; color: white;">Cancel</a>
  </button>
  <button type="submit" class="btn btn-primary" id="addFacultyMember">Save</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    function handleRoleSelection(select) {
      const option = select.options[select.selectedIndex];
      const point = option.dataset.point
      document.getElementById('user_role_credit_due').innerHTML = point;
    }
</script>
{% endblock scripts %}