{% extends 'base.html' %}

{% block title %}Faculty{% endblock %}
{% block header %}Faculty{% endblock %}

{% block content %}
<div class="row">
  <div class="col-3">
    <form class="d-flex">
      <label class="align-self-center" for="yearSelect">Year:&nbsp;</label>
      <select class="form-select align-self-center" id="yearSelect" aria-label="Year Select" name="yearSelect">
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>&nbsp;
      <button type="submit" class="btn btn-outline-primary" id="submitFilterByYear">Filter</button>
     </form>
  </div>
  <div class="col-9">
    <div class="d-grid justify-content-end">
      <div class="d-inline-flex">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#importChange">
          <i class="fa-solid fa-download"></i>
          Import Changes
        </button>
        <div class="dropdown" style="margin-left: 20px;">
          <button class="btn btn-secondary fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            ⋮
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-plus"></i> Add Faculty Member</a></li>
            <!-- TODO: Rollback only shows after upload in current session -->
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-rotate-right"></i> Rollback Previous Change</a></li>
          </ul>
        </div>
      </div>
  </div>
</div>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Required Teaching Points</th>
      <th scope="col">Previous Year Teaching Point Balance</th>
      <th scope="col">Ending Year Teaching Point Balance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for faculty in faculties %}
      <tr>
        <th scope="row">{{ faculty['name'] }}</th>
        <td>{{ faculty['email'] }}</td>
        <td>{{ faculty['role'] }}</td>
        <td>{{ faculty['required_point'] }}</td>
        <td>{{ faculty['prev_balance'] }}</td>
        <td>{{ faculty['ending_balance'] }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              ⋮
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-trash""></i></i> Delete</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="importChange" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importChangeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form method="POST" action="{{ url_for('faculty.upload') }}" enctype="multipart/form-data">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="importChangeLabel">Add and/or edit faculty using the import template and upload it here.</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row" style="margin: 10px 0;">
            <div class="col">
              <a href="{{ url_for('faculty.download_template', filename='users_template.xlsx') }}">
                <button type="button" class="btn btn-primary">
                  <i class="fa-solid fa-download"></i>
                  Download Users Data Template
                </button>
              </a>
            </div>
          </div>
          <div class="row" style="margin: 10px 0;">
            <div class="col">
              <a href="{{ url_for('faculty.download_template', filename='professors_point_info_template.xlsx') }}">
                <button type="button" class="btn btn-primary">
                  <i class="fa-solid fa-download"></i>
                  Download Professor Point Info Data Template
                </button>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top: 40px;">
            <div class="col">
              <div class="input-group mb-3">
                <p>Upload users template OR professor point info template</p>
                <div>
                  <input type="file" name="facultyTemplate" class="form-control" id="uploadFacultyTemplate">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="templateUploadOptions" id="addUsersTemplate" value="addUsers">
                <label class="form-check-label" for="addUsersTemplate">
                  Add Users Template
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="templateUploadOptions" id="editUsersTemplate" value="editUsers">
                <label class="form-check-label" for="editUsersTemplate">
                  Edit Users Template
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="templateUploadOptions" id="addProfessorPointTemplate" value="addProfessors">
                <label class="form-check-label" for="addProfessorPointTemplate">
                  Add Professors Point Info Template
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="templateUploadOptions" id="editProfessorPointTemplate" value="editProfessors">
                <label class="form-check-label" for="editProfessorPointTemplate">
                  Edit Professors Point Info Template
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="submitFacultyTemplate" disabled>Import Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const templateUploadInput = document.getElementById("uploadFacultyTemplate");
  const templateSubmitButton = document.getElementById("submitFacultyTemplate");
  const templateRadioInput = document.getElementsByName('templateUploadOptions');
  let templateRadioOption = null, fileInput = null;

  for (let i = 0; i < templateRadioInput.length; i++) {
    templateRadioInput[i].addEventListener('click', function(event) {
      templateRadioOption = event.target.id;
      checkTemplateSubmit()
    });
  }

  templateUploadInput.onchange = function() {
    fileInput = this.files[0];
    checkTemplateSubmit()
  }

  function checkTemplateSubmit() {
    if (fileInput && templateRadioOption) {
      templateSubmitButton.disabled = false;
    }
  }
</script>
{% endblock scripts %}