{% extends 'base.html' %}

{% block title %}Logs{% endblock %}
{% block header %}Logs{% endblock %}

{% block header_content %}
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/logs/exception">Exception</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logs/general">General</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}


<div class="row" style="margin: 20px 0;">
    <div class="panel-footer" style="height:800px; overflow: auto;">
        <table
                id="table-general"
                data-filter-control="false"
                data-show-search-clear-button="false"
                data-sortable="true"
                data-height="800"
                searchOnEnterKey="true"
                data-pagination="false"
                data-show-columns="false"
                class="table-responsive"
                classes="table-sm"
        >
            <thead>
            <tr>
                <th data-field="timeStamp" data-filter-control="datepicker" data-sortable="True"
                    data-filter-order-by="desc">Time Stamp
                </th>
                <th data-field="owner" data-filter-control="select" data-sortable="True">Owner</th>
                <th data-field="description" data-filter-control="input" data-sortable="True">Description
                </th>
            </tr>
            </thead>
            <tbody>
            {% for general_log in general_logs %}
            <tr>
                <td>{{ general_log['timeStamp'] }}</td>
                <td>{{ general_log['owner'] }}</td>
                <td>{{ general_log['description'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#table-general').bootstrapTable()
    })
</script>
{% endblock scripts %}