{% extends 'base.html' %}

{% block title %}Logs{% endblock %}
{% block header %}General logs{% endblock %}


{% block content %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link " id="tab-exception" data-toggle="tab" href="/logs" role="tab"
           aria-controls="content-exception" aria-selected="true">Exceptions</a>
        <a class="nav-item nav-link " id="tab-general" data-toggle="tab" href="/logs/general" role="tab"
           aria-controls="content-general" aria-selected="false">General</a>
    </div>
</nav>

<div class="row" style="margin: 20px 0;">
    <div class="panel-footer" style="height:750px; overflow: auto;">
        <table
                id="table-general"
                data-filter-control="false"
                data-show-search-clear-button="false"
                data-sortable="true"
                data-height="750"
                searchOnEnterKey="true"
                data-pagination="false"
                data-show-columns="false"
                class="table-responsive"
                classes="table-sm"
        >
            <thead>
            <tr>
                <th data-field="timeStamp" data-filter-control="datepicker" data-sortable="True"
                    data-filter-order-by="desc">Time Stamp
                </th>
                <th data-field="owner" data-filter-control="select" data-sortable="True">Owner</th>
                <th data-field="description" data-filter-control="input" data-sortable="True">Description
                </th>
            </tr>
            </thead>
            <tbody>
            {% for general_log in general_logs %}
            <tr>
                <td>{{ general_log['timeStamp'] }}</td>
                <td>{{ general_log['owner'] }}</td>
                <td>{{ general_log['description'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('#table-general').bootstrapTable()
    })
</script>
{% endblock scripts %}