<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

    <title>UCI Teaching Management APP</title>
</head>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


<body>
<div class="container">
    <h2>UCI ICS Department</h2>
    <h4>Teaching Management System</h4>
    <div class="google">
        <a href="/auth/login"><i class="fab fa-google"></i>Sign in with Your UCI Account</a>
    </div>
</div>
</body>
</html>