{% extends 'base.html' %}

{% block title %}Courses{% endblock %}
{% block header %}Courses{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='courses.css') }}">
{% endblock %}

{% block content %}
<div class="tab">
  <button class="tablinks" onclick="openCourse(event, 'Offerings')">Offerings</button>
  <button class="tablinks" onclick="openCourse(event, 'Catalog')">Catalog</button>
</div>

<div id="Offerings" class="tabcontent">
  <div class="row" style="margin: 20px 0;">
    <div class="col d-inline-flex">
      <button type="button" class="btn btn-outline-primary">
        <i class="fa-solid fa-download"></i>
        Import Changes
      </button>   
    </div>
  </div>

  <div class="row" style="margin: 20px 0;">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Quarter</th>
            <th scope="col">Professor</th>
            <th scope="col">Title ID</th>
            <th scope="col">Section</th>
            <th scope="col">Enrollment</th>
          </tr>
        </thead>
        <tbody>
          {% for course in courses %}
            <tr>
              <th scope="row">{{ course['year'] }}</th>
              <td>{{ course['quarter'] }}</td>
              <td>{{ course['user_name'] }}</td>
              <td>              
                <div>  <!-- class="tooltip" -->
                    {{ course['course_title_id'] }}
                    <span class="tooltiptext">Tooltip text</span>
                </div>
              </td>
              <td>{{ course['course_sec'] }}</td>
              <td>{{ course['enrollment'] }}</td>              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="Catalog" class="tabcontent">
  <!-- TODO  -->
</div>





  
{% endblock %}

{% block scripts %}
<script>
  document.querySelector("li.nav-item > a").classList.remove("active");
  document.querySelector("li:nth-child(2) > a").classList.add("active");

  function openCourse(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

</script>
{% endblock scripts %}